/* .translatorField {
  align-items: center;
}

.importField {
  margin: 30px;
  padding: 20px;
  justify-content: center;
}

.translate {
  margin: 10px;
}

.currentLanguage,
.targetLanguage {
  margin: 30px;
} */
